* {
  box-sizing: border-box;
}


.nominationsMenu {
  display: flex;
  justify-content: flex-end;
}

#open {
  width: 100px;
  height: 100px;
  padding: 25px;
  background-color: rgb(150, 150, 150);
}

/*I'm not sure how it would be best to put this in the optical center*/
h1.text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(150, 150, 150);
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

.container {
  /* display: flex; */
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-center input, select {
  height: 50px;
  border: none;
  outline: none;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 25%;
  box-shadow: 5px 5px 15px rgba(168, 168, 168, 0.5);
}

.flex-center input {
  width: 600px;
}

/*Smart phones*/

/*Tablets*/
@media only screen and (min-width: 768px){

}

/*Computers*/
@media only screen and (min-width: 1224px){

}
