* {
  box-sizing: border-box;
}

.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  color: black;
}

#nominationsMenu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100px;
  background-color: rgb(150, 150, 150); /*should be the same value as nominations-open*/
  z-index: 2;
  transition: width 0.35s;
}

.nominations-open {
  width: 100px;
  height: 100px;
  left: 0;
  padding: 25px;
  cursor: pointer;
  background-color: rgb(150, 150, 150);
}

.nominations-list{
  height: 100%;
  width: 100%;
  padding: 10px 20px 20px 20px;
  background-color: white;
}

/*I'm not sure how it would be best to put this in the optical center*/
h1.text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #3498db;
  font-size: 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

.text.fade{
  opacity: 0;
  cursor: default;
  transition: opacity 0.15s;
}

#gray-filter{
  display: none;
  position: fixed;
  background-color: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.35s;
}

.container {
  /* display: flex; */
}

.flex-center{
  display: flex;
  justify-content: center;
}

.flex-center input, select {
  height: 50px;
  border: none;
  outline: none;
}

.wrapper {
  position: absolute;
  top: 30%;
  left: 25%;
  box-shadow: 5px 5px 15px rgba(168, 168, 168, 0.5);
}

.flex-center input {
  width: 600px;
}

/*Smart phones*/

/*Tablets*/
@media only screen and (min-width: 768px){

}

/*Computers*/
@media only screen and (min-width: 1224px){

}
