* {
  box-sizing: border-box;
}


.nominationsMenu {
  display: flex;
  justify-content: flex-end;
}

#open {
  width: 100px;
  height: 100px;
  padding: 25px;
  background-color: rgb(150, 150, 150);
}

.flex-center{
  display: flex;
  justify-content: center;
}

/*Smart phones*/

/*Tablets*/
@media only screen and (min-width: 768px){

}

/*Computers*/
@media only screen and (min-width: 1224px){

}
